.open-sans-<uniquifier>{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;}
/* header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* shared style */
.secondary-bg{
    background-color: #fff8ff;
}
.text-primary{
   color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-pr{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
}
.btn-sr{
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
    padding:18px 35px;
    font-size: 20px;
    border-radius: 5px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.section-description{
    font-size: 18px;
    color: #757575;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}


/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-greeting{
    font-size: 32px;
    font-weight: 500;
    margin-top: 120px;
}
.banner-title{
    font-weight: bold;
    font-size: 70px;
    margin-top: -50px;
}
.banner-content{
  width: 40%;

}
/* main style */
.main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about style */
about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.
.item-description{
    font-weight: 500;
}
/* skill style */
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.6);

}
.skills-container{
    display: flex;
    gap: 24px;
}

/* resume style */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
.btn-dr{
    justify-content: center;
     background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    
}
